.call-to-action {
  text-align: center;
  padding: 2rem 0;


  h3 {
    font-size: 30px;
  }


  .btn {
    font-size: 20px;
    padding: 1rem 2rem;
    color: $dark-blue;
    border: 5px solid $med-blue;
    margin-bottom: 1rem;

    &:hover {
      color: white;
      border: 5px solid $med-blue;
      background-color: $med-blue;
    }
  }
}
