.call-now {
  font-size: 33px;
  margin-bottom: 3px;
}

.call-to-action {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .btn {
    font-size: 20px;
    padding: 1rem 2rem;
    color: $dark-blue;
    border: 5px solid $med-blue;
    margin-bottom: 1rem;

    &:hover {
      color: white;
      border: 5px solid $med-blue;
      background-color: $med-blue;
      transform: scale3d(1.05, 1.05, 1);
    }
  }

  &__call-now {
    margin-bottom: 2em;
  }
}
