.call-to-action {
  text-align: center;
  padding: 2rem 0;


  span {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 2rem;

    &::before {
      content: '';
      display: block;
      height: 5px;
      background: black;
      position: relative;
      top: 1.2em;
      left: 0;
      right: 0;
      transform: scale(0,1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
    }
    
    &:hover::before {
      transform: scale(1,1);
    }

  }


  .btn {
    font-size: 20px;
    padding: 1rem 2rem;
    color: $dark-blue;
    border: 5px solid $med-blue;
    margin-bottom: 1rem;

    &:hover {
      color: white;
      border: 5px solid $med-blue;
      background-color: $med-blue;
    }
  }
}
