.gallery {
  height: 600px;
  width: 100%;
  background-color: $dark-blue;
  color: white;
  // max-width: 1024px;

  // &__container {
  //   max-width: 80%;
  // }

  &__residential {
}

}

.main {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}


.photo {
  max-height: 300px;
  width: auto;
}

.nav {
  background: #fff;
  padding: 2%;
  height: 80px;
  width: auto;
  margin: 10px;
}
