.gallery {
  height: 600px;
  width: 100%;
  background-color: $dark-blue;
  color: white;

  &__residential {

    .photo {
      width: 500px;
      height: 500px;
    }

    &--nav
      float: right;
max-width: 400px;

    img{
      width: 40px;
      height: 40px;
    }
  }

}
