.underline--title {
  font-size: 30px;
  margin-bottom: 2rem;
  display: block;
  height: 6px;
  background: white;
  z-index: 1;
  position: relative;
}

.underline {
  font-size: 30px;
  margin-bottom: 2rem;
  display: block;
  height: 5px;
  background: black;
}

.hide-underline {
  transform: scale(0,1);
  transform-origin: left;
  transition: transform ease-in-out 500ms;
}

.show-underline {
  transform: scale(1,1);
}
